.paginaPrincipal {
    position: relative;
    top: 150px;
}

/*AUTOS Y CAMIONETAS*/

.catalogo {
    position: relative;
    background-color: $color-section;
    top: 160px;
    width: 95%;
    margin: auto;
    display: grid;
    padding: 10px;
    grid-template-columns: 100%;
    box-shadow: $shadow;
    border-radius: $border-radius;
}

/*Financiación*/

.finan {
    @extend .catalogo;
}

/*Ubicaciones*/

.ubicaciones {
    @extend .catalogo;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 900px;
}

  