* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
}

.header {
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    height: 80px;
    z-index: 500;
}

.header__logo {
    width: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px white;
}

.header__name {
    color: aliceblue;
    text-decoration: underline aliceblue;
    font-size: large;
    padding: 20px;
    margin-left: 5%;
}

.header__name:hover {
    color: blueviolet;
    text-decoration: underline;
}

.header__search {
    width: 30%;
    margin-right: 40px;
    border-radius: 5px;
}

.btn {
    position: relative;
    width: 80px;
    height: 30px;
    font-size: 11px;
}

.dropdown-menu {
    background-color:rgb(227, 227, 227);
}

.sidebar {
    position: fixed;
    display: flex;
    background-color: aliceblue;
    padding: 10px;
    top: 80px;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    z-index: 200;
}

.sidebar__link {
    color: rgb(97, 12, 177)
}

.sidebar__link :hover {
    color: rgb(0, 86, 179);
}

.redes {
    position: relative;
    top: 130px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    display: grid;
    background-color: rgb(229,229,229);
    grid-template-columns: 100%;
    grid-template-rows: 20px 20px;
    justify-items: center;
}

.redes__h3 {
    font-size: 15px;
    margin-right: 10px;
}

.redes__img {
    width: 80px;
    height: 20px;
}

.paginaPrincipal {
    position: relative;
    top: 150px;
}

.texto {
    position: relative;
    line-height: 30px;
    padding: 20px;
    top: 200px;
    margin: auto;
    width: 85%;
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: 15px; 
    box-shadow: 2px 2px 10px black;
}

.footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    top: 300px;
}

.footer__h4 {
    color: aliceblue;
    font-size: 13.5px;
}

@media (min-width: 768px) {
    .header__logo {
        width: 60px;
    }

    .header__name {
        font-size: x-large;
    }
    .btn {
        width: 100px;
        height: 30px;
        font-size: 14px;
    }
    .sidebar__link {
        font-size: x-large;
    }

    .carousel-caption {
        font-size: large;
    }

    .footer {
        z-index: 500;
    }

    .footer__h4 {
        font-size: 15px;
    }
}

@media (min-width: 1150px) {

    .header__logo {
        margin-left: 50px;
    }

    .header__name {
        width: 110%;
        font-size: 40px;
    }

    .sidebar {
        width: 16%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .sidebar__link {
        font-size: 29px;
    }

    .redes {
        position: fixed;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 10px;
        height: 80px;
        z-index: 200;
        width: 15%;
        top: 87%;
        left: 10px;
    }

    .paginaPrincipal {
        width: 82%;
        margin-left: 17%;
        top: 100px;
    }

    .texto {
        width: 80%;
        margin-right: 30px;
    }

    .footer__h4 {
        font-size: 17px;
    }
}

@media (min-width: 1350px) {
    .sidebar__link {
        font-size: 35px;
    }
    .redes {
        height: 75px;
    }

    .paginaPrincipal {
        top: 100px;
    }
}

/*AUTOS*/

.sidebar__link1 {
    position: relative;
    font-size: x-large;
    bottom: 5px;
    text-decoration: underline;
    color: rgb(0, 86, 179);
}

.catalogo {
    position: relative;
    top: 140px;
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(195, 218, 225);
    padding-top: 10px;
}

.catalogo__tarjeta {
    overflow: hidden;
    position: relative;
    width: 80%;
    height: 540px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: aliceblue;
    text-align: center;
}

.catalogo__tarjeta:hover {
    box-shadow: 3px 3px 10px black;
}

.catalogo__tarjeta__info {
    position: relative;
    line-height: 30px;
    top: 5px; 
}

.catalogo__tarjeta__img1 {
    position: relative;
    height: 85%;
    right: 250px;
    width: 750px;
}

.catalogo__tarjeta__img2 {
    position: relative;
    height: 85%;
    right: 230px;
    width: 630px;
}

.catalogo__tarjeta__img3 {
    position: relative;
    height: 85%;
    right: 180px;
    width: 750px;
}

.catalogo__tarjeta__img4 {
    position: relative;
    height: 85%;
    right: 280px;
    width: 700px;
}

.catalogo__tarjeta__img5 {
    position: relative;
    height: 85%;
    right: 80px;
    width: 680px;
}

.catalogo__tarjeta__img6 {
    position: relative;
    height: 85%;
    right: 50px;
    width: 640px;
}

.catalogo__tarjeta__img7 {
    position: relative;
    height: 85%;
    right: 60px;
    width: 660px;
}

.catalogo__tarjeta__img8 {
    position: relative;
    height: 85%;
    right: 130px;
    width: 630px;
}

.pag {
    position: relative;
    top: 230px;
}

@media (min-width: 515px) {
    .catalogo__tarjeta__img2 {
        position: relative;
        right: 230px;
        width: 685px;
        
    }
    .catalogo__tarjeta__img4 {
        position: relative;
        right: 280px;
        width: 732px;
    }
}

@media (min-width: 580px) {
    .catalogo {
        position: relative;
        top: 140px;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-content: row;
        background-color: rgb(195, 218, 225);
        padding-top: 10px;
    }
}

@media (min-width: 840px) {

    .catalogo {
        position: relative;
        top: 140px;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3% ;
        justify-content: row;
        background-color: rgb(195, 218, 225);
        padding-top: 10px;
    } 
}

@media (min-width: 1150px) {

    .sidebar__link1 {
        position: relative;
        font-size: 40px;
        bottom: 5px;
        text-decoration: underline;

    }
    .catalogo {
        width: 82%;
        margin-left: 330px;
        grid-template-columns: 25% 25% 25% 25%;
    }
    
    .catalogo__tarjeta__img1 {
    position: relative;
    right: 370px;
    width: 750px;
    }

    .catalogo__tarjeta__img2 {
    position: relative;
    right: 310px;
    width: 630px;
    }

    .catalogo__tarjeta__img3 {
    position: relative;
    right: 250px;
    width: 750px;
    }

    .catalogo__tarjeta__img4 {
    position: relative;
    right: 350px;
    width: 700px;
    }
}

/*Camionetas*/

.sidebar__link2 {
    position: relative;
    font-size: x-large;
    bottom: 5px;
    text-decoration: underline;
    color: rgb(0, 86, 179);
}


.catalogo__tarjeta__img9 {
    position: relative;
    height: 85%;
    right: 60px;
}

.catalogo__tarjeta__img10 {
    position: relative;
    height: 85%;
    right: 140px;
}

.catalogo__tarjeta__img11 {
    position: relative;
    height: 85%;
    right: 100px;
}

.catalogo__tarjeta__img12 {
    position: relative;
    height: 85%;
    right: 30px;
}

.catalogo__tarjeta__img13 {
    position: relative;
    height: 85%;
    right: 50px;
}

.catalogo__tarjeta__img14 {
    position: relative;
    height: 85%;
    right: 100px;
}

.catalogo__tarjeta__img15 {
    position: relative;
    height: 85%;
    right: 280px;
}

.catalogo__tarjeta__img16 {
    position: relative;
    height: 85%;
    width: 700px;
    right: 230px;
}

/*Financiación*/

.sidebar__link3 {
    position: relative;
    font-size: x-large;
    bottom: 5px;
    text-decoration: underline;
    color: rgb(0, 86, 179);
}

.finan {
    position: relative;
    background-color: rgb(195, 218, 225);
    top: 160px;
    width: 95%;
    margin: auto;
    display: grid;
    padding: 10px;
    grid-template-columns: 100%;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
}

.finan__tit {
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline rgba(0, 0, 0, 0.6);
}

.finan__principal {
    position: relative;
    border: solid black;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 3px;
    height: 600px;
}


.finan__principal__h2 {
    position: relative;
    text-align: center;
    font-size: xx-large;
    height: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  .box{
    width: 100%;
  }

  .box img{
    width: 100%;
    height: auto;
    max-width: 800px;
  } 

.finan__principal__descrp {
    background-color: rgb(225, 238, 242);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.finan__principal__descrp__h2 {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: xx-large;
    top: 40px;
}

.finan__principal__descrp__h3 {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: auto;
    font-size: medium;
    line-height: 30px;
    top: 10px;
}

.numeros {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 25% 25%;
    top: 80px;
    align-items: baseline;
    height: 400px;
}

.numeros__input {
    background-color: rgb(239, 245, 248);
    height: 45px;
    border: solid 2px black;
    padding-left: 5px;
    border-radius: 2px;
    width: 200px;
}

.numeros__resultado {
    background-color: rgb(239, 245, 248);
    border: solid 2px black;
    border-radius: 2px;
    width: 220px;
    height: 90px;
    font-size: xx-large;
    text-align: center;
}

/*Ubicaciones*/

.sidebar__link4 {
    position: relative;
    font-size: x-large;
    bottom: 5px;
    text-decoration: underline;
    color: rgb(0, 86, 179);
}

.ubicaciones {
    position: relative;
    background-color: rgb(195, 218, 225);
    top: 160px;
    width: 95%;
    height: 900px;
    margin: auto;
    display: grid;
    padding: 10px;
    grid-template-columns: 100%;
    box-shadow: 3px 3px 10px black;
    border-radius: 5px;
}

.ubicaciones__title {
    position: relative;
    width: 100%;
    font-size: x-large;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline rgba(0, 0, 0, 0.6);
}

.ubicaciones__buscador {
    position: relative;
    height: 30px;
    width: 60%;
    max-width: 350px;
    padding-left: 8px;
    border-radius: 3px;
    border: none;
    background-color: aliceblue;
    box-shadow: 1px 1px 2px black;
}

.boxx {
    position: relative;
}

.boxx iframe{
    width: 100%;
    height: 500px;
    max-width: 800px;
}

.ubicaciones__descrp {
    position: relative;
    top: 20px;
    text-align: center;
}

.ubicaciones__descrp__h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    line-height: 30px;
}