@media (min-width: 1100px) {

    .header__logo {
        margin-left: 50px;
    }
    .header__name {
        width: 110%;
        font-size: 40px;
    }
    .sidebar {
        width: 16%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
           &__link {
               font-size: 29px;
           }
    } 
    .sidebar__link2 {
        font-size: 31px;
    }
    .sidebar__link3 {
        font-size: 31px;
    }
    .sidebar__link4 {
        font-size: 31px;
    }   
    .redes {
        position: fixed;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-top: 10px;
        @include sizes (15%, 80px);
        z-index: 200;
        top: 87%;
        left: 10px;
    }
    .pagina__principal {
        width: 82%;
        margin-left: 17%;
        top: 100px;
    }
    .carousel-indicators {
        bottom: 20%;
    }
    .carousel-caption {
        bottom: 75%;
    }
    .texto {
        width: 80%;
        margin-right: 30px;
    }

    .footer__h4 {
        font-size: 17px;
    }
    .sidebar__link1 {
        font-size: 33px;
    }
    .catalogo {
        width: 82%;
        margin-left: 17%;
        top: 100px;
    }

    .finan {
        width: 82%;
        margin-left: 17%;
        top: 100px;
    }
    .ubicaciones{
        width: 82%;
        margin-left: 17%;
        top: 100px;
    }
}