.footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $color-secundario;
    top: 300px;
        &__h4 {
             color: $color-primario;
             font-size: 13.5px;
        }
}
